<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title> HACKMIT - {% block title %} | Oct 4-5 {% endblock %}</title>
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link href="static/stylesheets/main.css" rel="stylesheet" type="text/css">
  <!--<script src="static/bower_components/jquery/dist/jquery.min.js"></script>-->

  <!-- Include Semantic-UI -->
  <script src="static/bower_components/semantic-ui/build/packaged/javascript/semantic.min.js"></script>
  <link href="static/bower_components/semantic-ui/build/packaged/css/semantic.min.css" rel="stylesheet" type="text/css">

  <script>
    var csrftoken = "{{ csrf_token() }}";
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
      }
    })
  </script>

  <script src="static/js/base.js"></script>

  {% block head %}

  <script src="static/js/index.js"></script>

  {% endblock %}

</head>
<body>

<div class="nav">
  <div class="ui secondary pointing menu">
    <a class="montserrat bold item" href="{{ url_for('index') }}">
      HACKMIT
    </a>
    <div class="right menu">

      {% block navItems %}

      {% if current_user.is_authenticated() %}

        <a class="item {{ 'active' if request.path == '/lottery' }}" href="{{ url_for('lottery') }}">
          Apply
        </a>

        <a class="item {{ 'active' if request.path == '/team' }}" href="{{ url_for('team') }}">
          Team
        </a>

        <div class="ui dropdown item">
          Account <i class="icon dropdown"></i>
          <div class="menu">
            <a class="item {{ 'active' if request.path == '/dashboard' }}" href="{{ url_for('dashboard') }}">
              Dashboard
            </a>
            <a class="item {{ 'active' if request.path == '/reset' }}" href="{{ url_for('reset') }}">
              Reset Password
            </a>
            <a class="item" href="{{ url_for('logout') }}">
              Logout
            </a>
          </div>
        </div>

      {% else %}

        <a class="item" href="{{ url_for('login') }}">
          Log In
        </a>
        <a class="item" href="{{ url_for('get_registration_page') }}">
          Register
        </a>

      {% endif %}

      {% endblock %}

    </div>
  </div>
</div>

<div class="ui page dimmer">
  <div class="content">
    <div class="center">
      <h1></h1>
      <h2></h2>
    </div>
  </div>
</div>

<div class="main">
  {% block content %}
  {% endblock %}
</div>


</body>
</html>