{% extends "base.html" %}

{% block head %}

<script src="static/js/dashboard.js"></script>

{% endblock %}

{% block title %}

Apply

{% endblock %}


{% block headerTitle %}

  DASHBOARD

{% endblock %}


{% block content %}

<div class="lottery">

  <div class="ui stackable aligned one column page grid">

    <div class="row"></div>

    <div class="row">

      <div class="center aligned column">
        <h1>
          {% if hacker.name %}
            Welcome back, {{ hacker.name }}!
          {% endif %}
        </h1>

          {% if email_confirmed %}

            {% if lottery_complete %}

              <h3> You're all set. Feel free to change any information
              in the lottery application. </h3>

              <h3> You can also now create
              and join teams! </h3>

            {% else %}

              <h2> Your email is confirmed! </h2>
              <h3> Looks like you haven't filled out the lottery application. You should do that!</h3>

            {% endif %}

          {% else %}

          <h2> Your email is not yet confirmed. </h2>

          <button class="ui hack button" onclick="location.href='/account/resend'">
            RESEND CONFIRMATION EMAIL
          </button>

          {% endif %}

        <br>

        {% if email_confirmed %}
        <button class="ui hack button" onclick="location.href='/lottery'">
          Lottery Application
        </button>
        <br>
        {% endif %}

        <br>

        {% if lottery_complete %}
          <button class="ui hack button" onclick="location.href='/team'">
            Teams
          </button>
        {% endif %}

      </div>


    </div>

    <div class="row"></div>

  </div>
</div>

{% endblock %}