{% extends "base.html" %}

{% block head %}

<script src="static/js/lottery.js"></script>

{% endblock %}

{% block title %}

Apply

{% endblock %}


{% block headerTitle %}

  DASHBOARD

{% endblock %}


{% block content %}

<div class="lottery">

  <div class="ui stackable aligned three column page grid">

    <div class="row"></div>

    <div class="row">
      <div class="column"></div>

      <div class="center aligned column">
        <h1>
          Welcome back, Hacker!
        </h1>

        <br>

        <h2>
          Your Info here:
        </h2>
        <h3>
          blah blah blah
        </h3>
        <br>

        <button class="ui fluid green button">
          Lottery Application
        </button>

        <br>

        <button class="ui fluid blue button">
          Teams
        </button>

      </div>



      <div class="column"></div>

    </div>

    <div class="row"></div>

  </div>
</div>

{% endblock %}