{% extends "base.html" %}

{% block head %}

<script src="{{ url_for('static', filename='js/SHA256.js') }}"></script>
<script src="{{ url_for('static', filename='js/forgot.js') }}"></script>

{% endblock %}

{% block title %}

Reset Password

{% endblock %}

{% block headerTitle %}

    I FORGOT :(

{% endblock %}

{% block content %}
<div class="reset">

  <div class="ui stackable middle aligned three column page grid">

    <div class="row"></div>

    <div class="row">
      <div class="column">
      </div>
      <div class="column">

        <div class="ui dimmable form">

          <div class="ui error message">
            <div class="header">We noticed some issues</div>
          </div>

          {% if token == None %}

            <div class="fluid field">
              <label>Email Address</label>
              <input id="email" value="{{ email }}" type="email">
            </div>

          <button class="ui fluid hack submit button">SAVE ME</button>

          {% else %}

            <input id="token" value="{{ token }}" type="hidden">
            <div class="new password field">
              <label> New Password </label>
              <div class="ui left icon input">
                <input id="password" type="password">
                <i class="lock icon"></i>
              </div>
            </div>
            <div class="confirm field">
              <label> Confirm Password </label>
              <div class="ui left icon input">
                <input id="confirm" type="password">
                <i class="lock icon"></i>
              </div>
            </div>
            <button class="ui fluid hack submit button">SAVE</button>

          {% endif %}

        </div>

      </div>
      <div class="column">
      </div>
    </div>

    <div class="row"></div>

  </div>

</div>

{% endblock %}