{% extends "base.html" %}

{% block head %}

<script src="static/js/index.js"></script>
<script src="static/bower_components/skrollr/dist/skrollr.min.js"></script>
<link rel="stylesheet" href="static/stylesheets/index.css" type="text/css">

{% endblock %}

{% block title %}

    Oct 4-5

{% endblock %}

{% block nav %}

{% endblock %}

{% block body %}

<body>

<div class="bg-overlay"
     data-0="background-image:linear-gradient(315deg, hsl(208, 99%, 56%), hsl(119, 86%, 62%));"
     data-end="background-image:linear-gradient(315deg, hsl(202,100%, 15%),hsl(10, 72%, 50%));">
</div>

<div id="#skrollr-body" class="content">
  <section id="main" class="montserrat">
    <div class="ui page grid">

      <div class="row">
        <div class="center aligned column">

          <div class="content">
            <img src="static/assets/images/hack-logo-white.svg"
                 onerror="this.onerror=null; this.src='static/assets/images/hack-logo-white.png'" class="logo">
            <div class="title">
              HA<span id="c">C</span>KMIT
            </div>
            <div class="tagline">
              Get ready for a hackathon like none other.
            </div>
            <div class="date">
              Oct 4 - 5, 2014,
            </div>
            <div class="location">
              MIT CAMPUS
            </div>
            <div class="description">
              Open to all undergraduates from all universities.
            </div>
            <br>
            <button class="montserrat green outline button" onclick="location.href='/register'">REGISTER</button>
            <br>
            <button class="montserrat green outline button" onclick="location.href='/login'">LOGIN</button>

          </div>

          <br>
          <br>
          <br>
          <i id="next" class="ui down link arrow icon"></i>
        </div>
      </div>

    </div>

  </section>

  <section id="info">
    <div class="info-container">
    <div class="info-title">
      WHAT IS HACKMIT?
    </div>

    <div class="info-description">
      HackMIT is MIT’s premier hackathon. On October 4-5, over 1,000 students will
      converge at MIT to create, innovate, and build software and
      hardware projects over a 24-hour period. Our focus on cutting-edge
      technologies—including Bitcoin, emerging hardware interfaces, and new software
      languages—makes HackMIT truly unique.
    </div>
    </div>

  </section>

  <section id="faq">

    <div class="faq-title">
      FAQ
    </div>

    <div class="ui three column stackable page grid">

      <div class="row">

        <div class="column">
          <div class="question">
            Who can attend?
          </div>
          <div class="answer">
            All undergraduate students from any university are welcome.
            Non-MIT students must be 18 or older. Unfortunately, high school
            students and graduate students cannot attend.
          </div>
        </div>

        <div class="column">
          <div class="question">
            How can I register?
          </div>
          <div class="answer">
            This year we’re holding a registration lottery. You must submit a lottery application by July 20th at 11:59PM EST, after which we will randomly select hackers to admit. Once you are chosen, you may finish your registration profile. The HackMIT admissions lottery will operate on a rolling basis; you will have a week to accept your spot once you are lotteried in. Only one person on a team must submit a correct puzzle code for the entire team to be accepted. MIT students will all be admitted. For teams with both MIT and non-MIT students, at least one non-MIT student must submit a correct puzzle code for the entire team to be automatically admitted.
          </div>
        </div>

        <div class="column">
          <div class="question">
            How much does attending cost?
          </div>
          <div class="answer">
            Admission is free, and includes food, drinks, and miscellaneous swag for the entire hackathon!
          </div>
        </div>

      </div>

      <div class="row">

        <div class="column">
          <div class="question">
            What food will you provide?
          </div>
          <div class="answer">
            We’ll keep you fed throughout the weekend. All meals from breakfast on Saturday to breakfast on Sunday, as well as snacks in between, are covered by us. Just imagine yummy mediterranean dinner, late night waffle snacks, and an endless supply of fruit.  We’ll try to
            accommodate dietary restrictions as best we can!
          </div>
        </div>


        <div class="column">
          <div class="question">
            Can I get reimbursed for travel?
          </div>
          <div class="answer">
            Wait until you’re confirmed before you book tickets.
            We know it might be less expensive to book now, but
            until you have a spot, you might be going for a weekend
            vacation to Cambridge instead of HackMIT! (Don’t forget,
            it’s free to register!) We will announce
            our travel reimbursement policy when the first wave of decisions are released.
        </div>

        </div>

        <div class="column">
          <div class="question">
            How big should teams be? Can I do it alone?
          </div>
          <div class="answer">
            Teams should be at most 4 people. You can do it alone,
            but it'll be less fun! Once you submit a lottery application,
            you can create a team or join someone else's. Even if your team
            doesn’t make it, your team might be let in on a rolling basis as spots open up.
            MIT students - you're in for sure!
          </div>
        </div>

      </div>

      <div class="row">

        <div class="column">
          <div class="question">
            What should I bring?
          </div>
          <div class="answer">
            All attendees are required to bring their valid student ID
            for admission (name must match registration) and a laptop
            for hacking. If you want to do a hardware hack, don't forget
            to bring the devices you plan on working with. We will have
            some hardware for you to hack on, and a complete list will be
            posted closer to the event date.
          </div>
        </div>

        <div class="column">
          <div class="question">
            What should I not bring?
          </div>
          <div class="answer">
            Firearms, knives, and weapons of any kind are banned.
            If you can't bring it on an airplane, don't bring it here!
          </div>
        </div>

        <div class="column">
          <div class="question">
            What was the "last-minute surprise"?
          </div>
          <div class="answer">
            We've set up an admissions puzzle and the start is hidden on this website.
            If you complete it quickly enough, you'll get a code good for
            guaranteed admission to HackMIT for you and
            your team! You're racing against your fellow hackers, not the
            clock, so best of luck!
          </div>

        </div>
      </div>

        <div class="column">
          <div class="question">
            Will you have hardware prototyping equipment?
          </div>
          <div class="answer">
            We’ll stock a limited supply of hardware hack tools and
            prototyping materials, similar to what we had last year.
            We’ll be back with a complete list soon.
          </div>

        </div>
      </div>

      <div class="row">

        <div class="column">

          <div class="question">
            Where’s the schedule?
          </div>
          <div class="answer">
            We’re putting the finishing touches on the schedule -
            check back later!
          </div>
        </div>

        <div class="column">
          <div class="question">
            I have a question that’s not listed here. Who should I ask?
          </div>
          <div class="answer">
            You can get in touch with us at <a href="mailto:team@hackmit.org">team@hackmit.org</a> or via <a href="http://twitter.com/hackmit">Twitter</a>, or <a href="https://www.facebook.com/HackMIT">Facebook</a>.
          </div>
        </div>

      </div>

    </div>

  </section>

  <section id="sponsor">
    <div class="sponsor-title">
      SPONSORS
    </div>
    <div class="sponsor-message">
      Interested in sponsoring? Email us at
      <a href="mailto:team@hackmit.org">
        team@hackmit.org
      </a>.
    </div>
  </section>

  <section id="register" class="montserrat">

    <div class="ui page grid">

      <div class="row">
        <div class="center aligned column">

          <div class="content">
            <img src="static/assets/images/hack-logo-white.svg"
                 onerror="this.onerror=null; this.src='static/assets/images/hack-logo-white.png'" class="logo">
            <div class="title">
              HACKMIT
            </div>
            <div class="tagline">
              What are you waiting for?
            </div>
            <button class="montserrat red outline button" onclick="location.href='/register'">REGISTER</button>
            <br>
            <button class="montserrat red outline button" onclick="location.href='/login'">LOGIN</button>

          </div>
        </div>
      </div>

    </div>

  </section>

  <section id="footer" class="lato">
    <div class="content">
      Built with <i class="ui red heart icon"></i> by the HACKMIT Team 2014
    </div>
    <br>
    <a href="mailto:team@hackmit.org" class="social">
      <i class="ui icon mail"></i>
    </a>
    <a href="https://twitter.com/hackmit" class="social">
      <i class="ui icon twitter"></i>
    </a>
    <a href="https://www.facebook.com/HackMIT" class="social">
      <i class="ui icon facebook"></i>
    </a>
  </section>

</div>

</body>
{% endblock %}

