{% extends "base.html" %}

{% block head %}

<script src="static/js/login.js"></script>

{% endblock %}

{% block navItems %}

  <a class="active item" href="{{ url_for('login') }}">
    Log In
  </a>
  <a class="item" href="{{ url_for('get_registration_page') }}">
    Register
  </a>

{% endblock %}

{% block title %}

    Login

{% endblock %}

{% block content %}

<div class="login">

  <div class="ui stackable middle aligned three column grid">

    <div class="row">
      <div class="column"></div>
      <div class="center aligned column">

      </div>
      <div class="column"></div>
    </div>

    <div class="row">
      <div class="column">
      </div>
      <div class="column">

        <h1> LOGIN </h1>
        <div class="ui form">
          <div class="field">
            <label> Email Address </label>
            <div class="ui left icon input">
              <input id="email" type="text">
              <i class="mail icon"></i>
            </div>
          </div>
          <div class="field">
            <label> Password </label>
            <div class="ui left icon input">
              <input id="password" type="password">
              <i class="lock icon"></i>
            </div>
          </div>
          <div class="ui error message">
            <div class="header">We noticed some issues</div>
          </div>
          <button class="ui fluid purple submit button">LOGIN</button>
        </div>

      </div>
      <div class="column">
      </div>
    </div>

    <div class="row">
      <div class="column"></div>
      <div class="center aligned column">

        <a href="{{ url_for('get_registration_page') }}"> Don't have an account? Register now. </a>

      </div>
      <div class="column"></div>

    </div>

  </div>

</div>

{% endblock %}