{% extends "base.html" %}

{% block head %}

<script src="static/js/sha256.js"></script>
<script src="static/js/login.js"></script>

{% endblock %}

{% block navItems %}

  <a class="active item" href="{{ url_for('login') }}">
    Log In
  </a>
  <a class="item" href="{{ url_for('get_registration_page') }}">
    Register
  </a>

{% endblock %}

{% block title %}

    Login

{% endblock %}

{% block headerTitle %}

    LOGIN
{% endblock %}

{% block content %}

<div class="login">

  <div class="ui stackable middle aligned three column grid">

    <div class="row">
      <div class="column"></div>
      <div class="center aligned column">

      </div>
      <div class="column"></div>
    </div>

    <div class="row">
      <div class="column">
      </div>
      <div class="column">

        <div class="ui dimmable form">
          <div class="ui inverted dimmer">
            <div class="content">
              <div class="center">
                <h3> Sit tight, logging you in... </h3>
              </div>
            </div>
          </div>

          <div class="email field">
            <label> Email Address </label>
            <div class="ui left icon input">
              <input id="email" type="text">
              <i class="mail icon"></i>
            </div>
          </div>
          <div class="password field">
            <label> Password </label>
            <div class="ui left icon input">
              <input id="password" type="password">
              <i class="lock icon"></i>
            </div>
          </div>
          <div class="ui error message">
            <div class="header">We noticed some issues</div>
          </div>
          <button class="ui fluid hack submit button">LOGIN</button>
        </div>

      </div>
      <div class="column">
      </div>
    </div>

    <div class="column"></div>
    <div class="center aligned column">

      <button class="ui fluid hack button" onclick="location.href='/register'">
        I don't have an account
      </button>

    </div>
    <div class="column"></div>

    </div>

  </div>

</div>

{% endblock %}