{% extends "base.html" %}

{% block head %}

<script src="static/js/lottery.js" xmlns:select="http://www.w3.org/1999/html"></script>
<script src="static/bower_components/select2/select2.min.js"></script>
<link href="static/stylesheets/select2.css" type="text/css" rel="stylesheet">

{% endblock %}

{% block title %}

    Apply

{% endblock %}

{% block content %}

  <div class="lottery">

    <div class="ui stackable aligned three column page grid">

      <div class="row"></div>

      <div class="row">
        <div class="column"></div>

        <div class="column">
          <div class="ui form basic segment">

            <div class="ui error message">
              <div class="header">Action Forbidden</div>
              <p>You can only sign up for an account once with a given e-mail address.</p>
            </div>

            <h1>Lottery Application</h1>

            <div class="name field">
              <label>Full Legal Name</label>
              <input id="name" type="text" value="{{ hacker.name if hacker.name !=None }}">
            </div>

            <div class="field">
              <label>Gender</label>
              <div class="ui fluid selection dropdown">
                <div class="text">Select</div>
                <i class="dropdown icon"></i>
                <input id="gender" type="hidden" value="{{ hacker.gender if hacker.gender !=None }}">
                <div class="menu">
                  <div class="item" data-value="male">Male</div>
                  <div class="item" data-value="female">Female</div>
                  <div class="item" data-value="other">Other</div>
                  <div class="item" data-value="nope">I would prefer not to respond. </div>
                </div>
              </div>
            </div>

            <div class="field">
              <label>School</label>
              <input type='hidden' id="school" type="hidden" style="width: 100%" value="{{ hacker.school_id if hacker.school_id != None}}">
              </input>
            </div>

            <div class="inline field">
              <div class="ui checkbox">
                <input id="otherSchool" type="checkbox"
                value="{{ (hacker.school_id == 0) if hacker.school_id != None }}">
                <label for="otherSchool">My school isn't on this list.</label>
              </div>
            </div>

            <div class="field" style="display:none">
              <label> School name (not on list) </label>
              <input id="schoolName" type="text" value="{{ hacker.school if hacker.school != None}}">
            </div>

            <div class="field">
              <label>Traveling from (if not school)</label>
              <input id="travelling" type="text" value="{{ hacker.location if hacker.location != None}}">
            </div>

            <div class="field">
              <label>Secrete Code (optional) </label>
              <input id="invite" type="text" value="{{ hacker.invite_code if hacker.invite_code != None}}">
            </div>

            <div class="inline field">
              <div class="ui checkbox">
                <input id="adult" type="checkbox" value="{{ hacker.adult if hacker.inviteCode != None}}">
                <label for="adult">I am 18+ years old.</label>
              </div>
            </div>

            <div class="ui purple fluid submit button">Save</div>
          </div>
        </div>

        <div class="column"></div>

      </div>

      <div class="row"></div>

    </div>
 </div>

{% endblock %}