{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block title %}

Dashboard

{% endblock %}


{% block headerTitle %}

  DASHBOARD

{% endblock %}


{% block content %}

<div class="lottery">

  <div class="ui stackable aligned one column page grid">

    <div class="row"></div>

    <div class="row">

      <div class="left aligned column">
      {% if name %}
          <h1>
          Welcome back, {{ name }}!
          </h1>
      {% endif %}

          {% if email_confirmed %}

          {% for role, context in roles %}
              {% from context['name'] import body_text with context %}
              {{ body_text(context['context']) }}
          {% endfor %}

          {% else %}

          <h2> Your email is not yet confirmed. </h2>

          <h2> Once you confirm your email, make sure to enter the lottery by filling out the lottery application. At that point, you'll also be able to create and join teams. The deadline is July 28th at midnight - don't miss it! </h2>

          <button class="ui hack button" onclick="location.href='{{ url_for('.resend_email') }}'">
            RESEND CONFIRMATION EMAIL
          </button>

          {% endif %}


      </div>


    </div>

    <div class="row">

      <div class="center aligned column">
      {% if email_confirmed %}

      {% for role, context in roles %}
          {% from context['name'] import buttons with context %}
          {{ buttons(context['context']) }}
      {% endfor %}

      {% endif %}

      </div>

    </div>

    <div class="row"></div>

  </div>
</div>

{% endblock %}
