{% extends "base.html" %}

{% block head %}

<script src="{{ url_for('.static', filename='js/index.js') }}"></script>
<script src="{{ url_for('.static', filename='bower_components/skrollr/dist/skrollr.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('.static', filename='stylesheets/index.css') }}" type="text/css">

{% endblock %}

{% block title %}

    Oct 4-5

{% endblock %}

{% block nav %}

{% endblock %}

{% block body %}

<body>

<div class="bg-overlay"
     data-0="background-image:linear-gradient(315deg, hsl(208, 99%, 56%), hsl(119, 86%, 62%));"
     data-end="background-image:linear-gradient(315deg, hsl(202,100%, 15%),hsl(10, 72%, 50%));">
</div>

<div id="#skrollr-body" class="content">
  <section id="main" class="montserrat">
    <div class="ui page grid">

      <div class="row">
        <div class="center aligned column">

          <div class="content">
            <img src="{{ url_for('.static', filename='assets/images/hack-logo-white.svg') }}"
                 onerror="this.onerror=null; this.src={{ url_for('.static', filename='assets/images/hack-logo-white.png') }}" class="logo">
            <div class="title">
              <!-- Heads up, some of your fellow hackers might have beaten you to all the puzzle codes! -->
              HA<span id="c">C</span>KMIT
            </div>
            <div class="tagline">
              Get ready for a hackathon like none other.
            </div>
            <div class="date">
              Oct 4 - 5, 2014,
            </div>
            <div class="location">
              MIT CAMPUS
            </div>
            <div class="description">
              Open to all undergraduates from all universities.
            </div>
            <br>
            {% if 'lottery_closing' not in passed_dates %}
            <button class="montserrat green outline button" onclick="location.href='/register'">REGISTER</button><br>
            {% endif %}
            <button class="montserrat green outline button" onclick="location.href='/login'">LOGIN</button>
            <br>
          </div>
          <br>
          <br>
          <br>
          <br>
          <i id="next" class="ui down link arrow icon"></i>
        </div>
      </div>

    </div>

  </section>

  <section id="info">
    <div class="info-container">
    <div class="info-title">
      WHAT IS HACKMIT?
    </div>

    <div class="info-description">
      HackMIT is MIT’s premier hackathon. On October 4-5, over 1,000 students will
      converge at MIT to create, innovate, and build software and
      hardware projects over a 24-hour period. Our focus on cutting-edge
      technologies—including Bitcoin, emerging hardware interfaces, and new software
      languages—makes HackMIT truly unique.
    </div>
    </div>

  </section>

  <section id="faq">

    <div class="faq-title">
      FAQ
    </div>

    <div class="ui three column stackable page grid">

      <div class="row">

        <div class="column">
          <div class="question">
            Who can attend?
          </div>
          <div class="answer">
            All undergraduate students from any university are welcome.
            Non-MIT students must be 18 or older. Unfortunately, high school
            students and graduate students cannot attend.
          </div>
        </div>

        <div class="column">
          <div class="question">
            How can I register?
          </div>
          <div class="answer">
            This year we’re holding a registration lottery. You must submit a lottery application by July 28th at 11:59PM EDT, after which we will randomly select hackers to admit. Once you are chosen, you may finish your registration profile. The HackMIT admissions lottery will operate on a rolling basis; you will have a week to accept your spot once you are lotteried in. 
          </div>
        </div>

        <div class="column">
          <div class="question">
            How much does attending cost?
          </div>
          <div class="answer">
            Admission is free, and includes food, drinks, and miscellaneous swag for the entire hackathon!
          </div>
        </div>

      </div>

      <div class="row">

        <div class="column">
          <div class="question">
            What food will you provide?
          </div>
          <div class="answer">
            We’ll keep you fed throughout the weekend. All meals from breakfast on Saturday to breakfast on Sunday, as well as snacks in between, are covered by us. Just imagine yummy mediterranean dinner, late night waffle snacks, and an endless supply of fruit.  We’ll try to
            accommodate dietary restrictions as best we can!
          </div>
        </div>


        <div class="column">
          <div class="question">
            Can I get reimbursed for travel?
          </div>
          <div class="answer">
            We are providing buses to Yale, Brown, Waterloo, Toronto, Columbia, NYU, and Princeton. If you do not attend one of these schools, you can receive travel reimbursement by uploading a travel receipt by the registration confirmation deadline. Hackers from Massachusetts can receive up to $100, but those coming from within 30 miles of MIT will not be reimbursed. Any other U.S. students can receive up to $200, and international students can receive up to $500. 
          </div>
        </div>

        <div class="column">
          <div class="question">
            How big should teams be? Can I do it alone?
          </div>
          <div class="answer">
            Teams should be at most 4 people. You can do it alone,
            but it'll be less fun! Once you submit a lottery application,
            you can create a team or join someone else's. Even if your team
            doesn’t make it, your team might be let in on a rolling basis as spots open up.
            MIT students - you're in for sure!
          </div>
        </div>

      </div>

      <div class="row">

        <div class="column">
          <div class="question">
            What should I bring?
          </div>
          <div class="answer">
            All attendees are required to bring their valid student ID
            for admission (name must match registration) and a laptop
            for hacking. If you want to do a hardware hack, don't forget
            to bring the devices you plan on working with. We will have
            some hardware for you to hack on, and a complete list will be
            posted closer to the event date.
          </div>
        </div>

        <div class="column">
          <div class="question">
            What should I not bring?
          </div>
          <div class="answer">
            Firearms, knives, and weapons of any kind are banned.
            If you can't bring it on an airplane, don't bring it here!
          </div>
        </div>

        <div class="column">
          <div class="question">
            Is there a puzzle?
          </div>
          <div class="answer">
            Yes. Full fight club rules apply. If you're quick enough, solving the puzzle
            successfully guarantees admission for you and your team!
          </div>
        </div>

      </div>

      <div class="row">

        <div class="column">
          <div class="question">
            Will you have hardware prototyping equipment?
          </div>
          <div class="answer">
            We’ll stock a limited supply of hardware hack tools and
            prototyping materials, similar to what we had last year.
            We’ll be back with a complete list soon.
          </div>
        </div>

        <div class="column">

          <div class="question">
            Where’s the schedule?
          </div>
          <div class="answer">
            Check-in for HackMIT will be from 9AM-11AM on Saturday morning; the opening ceremony will start at 11AM. HackMIT will end around 3PM on Sunday afternoon. Please check back later for a more detailed schedule!
          </div>
        </div>

        <div class="column">
          <div class="question">
            I have a question that’s not listed here. Who should I ask?
          </div>
          <div class="answer">
            You can get in touch with us at <a href="mailto:team@hackmit.org">team@hackmit.org</a> or via <a href="http://twitter.com/hackmit">Twitter</a>, or <a href="https://www.facebook.com/HackMIT">Facebook</a>.
          </div>
        </div>

      </div>

    </div>

  </section>

  <section id="schedule">
    <div class="schedule-title">
      SCHEDULE
    </div>
    <div>
      Keep checking back for a more detailed schedule!
    </div>
    <div class="ui list">
      <div class="item">
        <div class="content">
          <i class="ui circular large pencil icon"></i>
          <div class="header">
          Saturday 9AM - 11AM
          </div>
          Check in
        </div>
      </div>
      <div class="item">
        <div class="content">
          <i class="ui circular large lightbulb icon"></i>
          <div class="header">
            Saturday 11 AM
          </div>
          Opening Ceremony!
        </div>
      </div>
      <div class="item">
        <div class="content">
          <i class="ui circular large laptop icon"></i>
          <div class="header">
            Saturday through Sunday
          </div>
          HACK. EAT. FORGET TO SLEEP.
        </div>
      </div>
      <div class="item">
        <div class="content">
          <i class="ui circular large home icon"></i>
          <div class="header">
            Sunday ~3PM
          </div>
          HackMIT ends. Time to go home!
        </div>
      </div>
    </div>

  </section>

  <section id="speakers">

    <div class="speakers-title">
      SPEAKERS
    </div>

    <div class="ui two column center aligned stackable page grid">
      <div class="row">
        <div class="column">
          <img src="{{ url_for('.static', filename='assets/images/adora.jpg') }}" class="ui circular medium image">
          <div class="name montserrat">
            Adora Cheung
          </div>
          <div class="description">
            Co-founder/CEO, Homejoy
          </div>
        </div>
        <div class="column">
          <img src="{{ url_for('.static', filename='assets/images/alexis.jpg') }}" class="ui circular medium image">
          <div class="name montserrat">
            Alexis Ohanian
          </div>
          <div class="description">
            Co-founder of reddit, YCombinator Partner
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sponsor">
    <div class="sponsor-title">
      SPONSORS
    </div>

    <div class="platinum tier">
      <div class="title">
        PLATINUM
      </div>
      <img src="{{  url_for('.static', filename='assets/images/logos/platinum/amadeus-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/platinum/Google-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/platinum/Uber-logo.png') }}">

    </div>

    <div class="gold tier">
      <div class="title">
        GOLD
      </div>

      <img src="{{  url_for('.static', filename='assets/images/logos/gold/Akamai-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/gold/Bloomberg-logo.jpg') }}">
      <img id="buzzfeed" src="{{  url_for('.static', filename='assets/images/logos/gold/Buzzfeed-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/gold/Dropbox-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/gold/Facebook-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/gold/FiscalNote-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/gold/GoldmanSachs-logo.gif') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/gold/HP-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/gold/QuirkyGE-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/gold/StackOverflow-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/gold/TASERInternational-logo.jpg') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/gold/TwoSigma-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/gold/Whisper-logo.png') }}">

    </div>

    <div class="silver tier">
      <div class="title">
        SILVER
      </div>

      <img src="{{  url_for('.static', filename='assets/images/logos/silver/BoozAllenHamilton-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/silver/Circle-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/silver/Comcast-logo.jpg') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/silver/Codeship-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/silver/GoDaddy-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/silver/Kayak-logo.jpg') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/silver/KPBC-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/silver/Yelp-logo.png') }}">
    </div>

    <div class="bronze tier">
      <div class="title">
        BRONZE
      </div>

      <img src="{{  url_for('.static', filename='assets/images/logos/bronze/Asana-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/bronze/Cisco-logo.jpg') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/bronze/Fitbit-logo.jpg') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/bronze/HudsonRiverTrading-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/bronze/JaneStreet-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/bronze/Kensho-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/bronze/LevantPower-logo.gif') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/bronze/MITBigDataLivingLab-logo.jpg') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/bronze/MongoDB-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/bronze/OculusVR-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/bronze/Sailthru-logo.jpg') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/bronze/TIBCO-logo.gif') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/bronze/Twilio-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/bronze/ThalmicLabs-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/bronze/LibertyTeller-logo.png') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/bronze/RoughDraftVentures-logo.jpeg') }}">
      <img src="{{  url_for('.static', filename='assets/images/logos/bronze/Yo-logo.jpg') }}">
    </div>

    <br>
    <br>
    <br>

    <div class="sponsor-title" style="margin-bottom: 0;">
      PARTNERS
    </div>

    <div class="ui two column stackable page middle aligned grid">
      <div class="row">
        <div class="column">
          <img src="{{  url_for('.static', filename='assets/images/logos/partners/Andreessen-horowitz-logo.png') }}">
        </div>
        <div class="column">
          <img src="{{  url_for('.static', filename='assets/images/logos/partners/Y-combinator-logo.gif') }}">
        </div>
      </div>
    </div>

    <div class="sponsor-message">
      Interested in sponsoring? Email us at
      <a href="mailto:team@hackmit.org">
        team@hackmit.org
      </a>.
    </div>
  </section>

  <section id="register" class="montserrat">

    <div class="ui page grid">

      <div class="row">
        <div class="center aligned column">

          <div class="content">
            <img src="{{ url_for('.static', filename='assets/images/hack-logo-white.svg') }}"
                 onerror="this.onerror=null; this.src={{ url_for('.static', filename='assets/images/hack-logo-white.png') }}" class="logo">
            <div class="title">
              HACKMIT
            </div>
            <div class="tagline">
              What are you waiting for?
            </div>
            {% if 'lottery_closing' not in passed_dates %}
            <button class="montserrat red outline button" onclick="location.href='/register'">REGISTER</button>
            <br>
            {% endif %}
            <button class="montserrat red outline button" onclick="location.href='/login'">LOGIN</button>

          </div>
        </div>
      </div>

    </div>

  </section>

  <section id="footer" class="lato">
    <div class="content">
      Built with <a href="http://youtu.be/yPar4PvRWAY" style="text-decoration: none"><i class="ui red heart icon"></i></a> by the HACKMIT Team 2014
    </div>
    <br>
    <a href="mailto:team@hackmit.org" class="social">
      <i class="ui icon mail"></i>
    </a>
    <a href="https://twitter.com/hackmit" class="social">
      <i class="ui icon twitter"></i>
    </a>
    <a href="https://www.facebook.com/HackMIT" class="social">
      <i class="ui icon facebook"></i>
    </a>
  </section>

</div>

</body>
{% endblock %}

