{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block title %}

    Apply

{% endblock %}

{% block headerTitle %}

    LOTTERY

{% endblock %}

{% block content %}

  <div class="lottery">

    <div class="ui stackable aligned three column page grid">

      <div class="row"></div>

      <div class="row">
        <div class="column"></div>

        <div class="column">
        <!-- Taken straight from RightSignature -->
          <div style="display:block;margin:0;padding:0;border:0;outline:0;font-size:10px!important;color:#AAA!important;vertical-align:baseline;background:transparent;width:706px;"><iframe frameborder="0" height="500" scrolling="no" src="https://rightsignature.com/forms/1303square-invoic-972bd5/embedded/72ef50d0888?height=500" width="706"></iframe><div style="font-family: 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif;line-height:13px !important;text-align:center;margin-top: 6px !important;"><a href="https://rightsignature.com" target="_blank" style="color:#AAA;text-decoration:none;">e-Signature</a> by RightSignature &copy; &nbsp;&bull;&nbsp; <a href="https://rightsignature.com/terms" target="_blank" style="color:#888;">Terms of Service</a> &nbsp;&bull;&nbsp; <a href="https://rightsignature.com/privacy" target="_blank" style="color:#888;">Privacy Policy</a></div></div>
        </div>

        <div class="column"></div>

      </div>

      <div class="row"></div>

    </div>
 </div>

{% endblock %}
