{% macro body_text(reject) -%}

             <h2>Status: Not Admitted</h2>

             <h3>We received an incredible amount of interest in HackMIT this year, with over 5000 applications. Unfortunately, you weren't selected in any of our lottery rounds, and we can't give you a spot at this year's HackMIT :(</h3>

             <h3>Thanks for your interest in HackMIT, and hope to see you at other hackathons this year or a future HackMIT!</h3>

{% endmacro %}

{% macro buttons(reject) -%}
{% endmacro %}
