{% extends "emails/email_base.html" %}

{% block email_title %}

HackMIT Password Recovery!

{% endblock %}

{% block email_content %}

  <p>Looks like somebody (hopefully you!) is trying to recover your HackMIT account. </p>
  <p>If you did not request this, you can safely ignore this message.</p>
  <p>You can reset your password by clicking the following link: {{url_for('auth.forgot', token=token, _external=True)}}.&nbsp;<br>
  <p> Note: the link above expires in 30 minutes for your security. </p>
  <br>
  Happy Hacking,<br>
  The HackMIT Team

{% endblock %}
