.ui.form .field.error .button {
    background-color: snow;
    border-color: #E7BEBE;
    border-left: none;
    color: #D95C5C;
    padding-left: 1.2em;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-box-shadow: .3em 0 0 0 #D95C5C inset;
    box-shadow: .3em 0 0 0 #D95C5C inset;
}
