{% macro upload_form(context, display, completed, elementId) -%}

<div class="ui dimmable field s3 upload form" action="{{ s3['bucket_url'] }}" method="post" enctype="multipart/form-data" style="display:{% if display %}block{% else %}none{% endif %}">
  <div class="invisible">
    <input type="hidden" name="AWSAccessKeyId" value="{{ s3['aws_key_id'] }}">
    <input type="hidden" name="key">
    <input type="hidden" name="acl" value="private">
    <input type="hidden" name="x-amz-meta-policy_endpoint" value="{{ context['policy_endpoint'] }}">
    <input type="hidden" name="policy">
    <input type="hidden" name="signature">
    <input type="hidden" name="success_action_status" value="201">
    <input type="file" name="file">
    <input type="hidden" name="x-amz-meta-bucket_url" value="{{ s3['bucket_url'] }}">
  </div>
  <div id="{{ elementId }}" class="ui hack fluid s3 upload button{% if completed %} completed{% endif %}">
    <i class="file icon"></i>
    {{ context['resource_name'] }}
  </div>
  <div class="field" style="display:{% if completed %}block{% else %}none{% endif %}"><h4>{{ context['resource_name'] }} successfully uploaded!</h4></div>
</div>

{% endmacro %}

