{% macro upload_form(context) -%}

<div class="ui dimmable s3 upload form" action="{{ s3['bucket_url'] }}" method="post" enctype="multipart/form-data">
  <div class="invisible">
    <input type="hidden" name="AWSAccessKeyId" value="{{ s3['aws_key_id'] }}"></input>
    <input type="hidden" name="key"></input>
    <input type="hidden" name="acl" value="private"></input>
    <input type="hidden" name="x-amz-meta-policy_endpoint" value="{{ context['policy_endpoint'] }}"></input>
    <input type="hidden" name="policy"></input>
    <input type="hidden" name="signature"></input>
    <input type="hidden" name="success_action_status" value="201"></input>
    <input type="file" name="file"></input>
    <input type="hidden" name="x-amz-meta-bucket_url" value="{{ s3['bucket_url'] }}"></input>
  </div>
  <div class="ui hack fluid s3 upload button">
    <i class="file icon"></i>
    {{ context['resource_name'] }}
  </div>
  <div class="field" style="display:none"><h4>{{ context['resource_name'] }} successfully uploaded!</h4></div>
</div>

{% endmacro %}

